{% extends '::base.html.twig' %}

{% block body %}
    <h1>User Profile</h1>

    {% if (app.user.id != user.id) %}
        <div id="follow-{{ user.id }}">
            {% if (follow != NULL) %}
                <a class="ajax-follow btn btn-info" href="{{ path('unfollow', { 'followee_id': user.id}) }}" id="follow-id-{{ user.id }}" >
                    Unfollow
                </a>
            {% else %}
                <a class="ajax-follow btn btn-info" href="{{ path('follow', { 'followee_id': user.id}) }}" id="follow-id-{{ user.id }}" >
                    Follow
                </a>
            {% endif %}
        </div>
    {% endif %}

    <table class="record_properties table table-responsive">
        <tbody>
        <tr>
            <th>Id</th>
            <td>{{ user.id }}</td>
        </tr>
        <tr>
            <th>Name</th>
            <td>{{ user.name }}</td>
        </tr>
        <tr>
            <th>Email</th>
            <td>{{ user.email }}</td>
        </tr>
        </tbody>
    </table>
    {% if (app.user == user) %}
        <a href="{{ path('user_edit') }}" class="btn btn-default">
            Edit profile
        </a>
    {% endif %}
    <h3>Activity</h3>
    {% for activity in activities %}
        <strong class="text-capitalize">{{ activity.user.name }}</strong>
        <em>has learned</em>
        <strong class="text-capitalize">{{ activity.category.name }}</strong>
        <em>({{ activity.createdAt|date('d-m-Y H:i:s') }})</em><br><br>
    {% endfor %}
    <div class="navigation">
        {{ knp_pagination_render(activities) }}
    </div>
    {% block javascripts %}
        <script src="{{ asset('js/follow.js') }}"></script>
    {% endblock %}
{% endblock %}
