{% extends "::base.html.twig" %}

{% block title %}ElearningBundle:Category:index{% endblock %}

{% block body %}
  <h1>All Category</h1>
  {% for category in pagination %}
    <div class="panel panel-info">
      <div class="panel-heading">
        <h3 class="panel-title">{{ category.name }}</h3>
        <em>{{ category.words.count }} words</em>
      </div>
      <div class="panel-body">
        <p>{{ category.content }}</p>
        <a href="{{ path('create_lesson', {categoryId: category.id}) }}"
          class="btn btn-sm btn-primary pull-right">Start</a>
      </div>
    </div>
  {% endfor %}
  <div class="navigation">
    {{ knp_pagination_render(pagination) }}
  </div>
{% endblock %}
